<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Terraria Server Hosting - kintu.net</title>
    <meta name="description" content="Reliable Terraria servers with high quality equipment and DDOS protection.">
    <link rel="canonical" href="https://kintu.net" />
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171525389-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-171525389-1');
    </script>
  </head>

  <header>
    <nav class="py-3 navbar bg-dark">
      <a class="navbar-brand text-white" href="/">Kintu Dedicated Servers</a>
    </nav>
  </header>

  <body>
    <div class="container-fluid">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    </div>

    <%= render @view_module, @view_template, assigns %>

    <footer id="sticky-footer" class="py-3 bg-dark text-white-50 footer">
        <div class="container text-center">
          <small>Copyright &copy; kintu.net</small>
        </div>
    </footer>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/jquery.min.js") %>"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/bootstrap.min.js") %>"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/scripts.js") %>"></script>
  </body>
</html>
